/electron/**/.DS_Store
/electron/**/.env
/electron/**/.gclient_done
/electron/**/.npmrc
/electron/**/.tags*
/electron/**/.vs/
/electron/**/.vscode/
/electron/**/*.log
/electron/**/*.pyc
/electron/**/*.sln
/electron/**/*.swp
/electron/**/*.VC.db
/electron/**/*.VC.VC.opendb
/electron/**/*.vcxproj
/electron/**/*.vcxproj.filters
/electron/**/*.vcxproj.user
/electron/**/*.xcodeproj
/electron/*Electron-*/
/electron/**/.idea/
/electron/brightray/brightray.opensdf
/electron/brightray/brightray.sdf
/electron/brightray/brightray.sln
/electron/brightray/brightray.suo
/electron/brightray/brightray.v12.suo
/electron/brightray/brightray.vcxproj*
/electron/brightray/brightray.xcodeproj/
/electron/build/
/electron/dist/
/electron/external_binaries/
/electron/out/
/electron/vendor/.gclient
/electron/vendor/debian_jessie_amd64-sysroot/
/electron/vendor/debian_jessie_arm-sysroot/
/electron/vendor/debian_jessie_arm64-sysroot/
/electron/vendor/debian_jessie_i386-sysroot/
/electron/vendor/debian_wheezy_amd64-sysroot/
/electron/vendor/debian_wheezy_arm-sysroot/
/electron/vendor/debian_wheezy_i386-sysroot/
/electron/vendor/download/
/electron/vendor/llvm-build/
/electron/vendor/llvm/
/electron/vendor/node/deps/node-inspect/.npmrc
/electron/vendor/npm/
/electron/vendor/python_26/
/electron/node_modules/
/electron/SHASUMS256.txt